body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

/* header styling*/
#logo {
    width: auto;
    height: 40px;
}

#hero-image {
    height: auto;
    width: 100%;
    max-width: 500px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
}

ul {
    list-style: none; 
    display: flex;
    gap: 24px;
}



/* section 1 (hero) styling*/
.container1 {
    background-color: #1F2937;
    color: white;
    flex: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    max-width: 400px;
    margin: 0;
    padding: 0;
}

.subtext {
    max-width: 450px;
}

button {
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    height: 32px;
    width: 88px;
}

a,
.subtext {
    font-size: 18px;
}

/* section 2 (info) styling*/
.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    flex: 1;
}

.info-image {
    height: auto;
    width: 100%;
    max-width: 200px;
    border-radius: 20px;
}

.info {
    display: flex;
    gap: 40px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-subtext {
    max-width: 200px;
}

/* section 3 (quote) styling*/
.container3 {
    display: flex;
    flex-direction: column;
    background-color: #e6e7eb;
    justify-content: center;
    align-items: center;
    padding: 24px;
    flex: 1;
}

.quote {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    max-width: 960px;
}

.credit {
    align-self: end;
    font-weight: bold;
    font-size: 26px;
}

/* section 4 (call to action) styling*/
.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 100px 0;
}

.banner {
    background-color: #3882F6;
    border-radius: 12px;
    width: 1200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 60px;
}

.cta {
    font-weight: bold;
    font-size: 26px;
}

.banner button {
    border: 2px solid white;
}

/* footer styling */
.footer {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 40px;
}